# Ignore model folders
tinyllama-pokemon-finetune/
tinyllama-pokemon-lora/
tinyllama-pokemon-merged/

# Ignore common binary files
*.gguf
*.bin
*.pt
*.ckpt
*.tar
*.h5

# Python cache
__pycache__/
*.pyc